/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 30px 80px;
    background-color: black;
    
}

/* Main Rules */
main{
    min-height: 90vh;
    background-color: #222222;
}

/* User Rules */
.user{
    position: relative;
    margin: 0 2px;
    height: 100px;
}

    .user > img{
        height: 100%;
    }

.label{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 15px;
    width: 80px;
    text-align: center;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 3px 3px 18px 3px;
}

/* Footer Rules */
footer{
    background-color: #222222;
    height: 60px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

footer > nav{
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#menu-left{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-center{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#menu-center > li{
    margin: 0 5px;
}


li{
    list-style-type: none;
}    

footer button{
    color: white;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.microphone{
    font-size: 22px;
}

.webcam{
    font-size: 22px;
}

.arrow{
    font-size: 10px;
    margin-left: 5px;
}